################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TelstraPurpleRobot/obj
/bin
/.vs
/TelstraPurpleRobot/bin/Debug/net472
/Test/bin/Debug/net472
/Test/obj/Debug/net472
/Test/obj

.fake
.ionide